OWNER_NAME="Bryant Tech"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "MADARA-MD"
IMAGE_MENU= "https://telegra.ph/file/911aedae0ff0b136f5690.mp4"
NUMERO_OWNER= ""
OWNER_NAME= "᚛BRYANT TECH᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
